.oxo__console-chooser {

	.oxo__list-item {
		position: relative;
		border: 3px solid $white;
		overflow: hidden;
		background-color: rgba(255,255,255,.5);
		width: rem-calc(125);
		height: rem-calc(125);
		margin: rem-calc(20);
		float: left;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 rem-calc(10);
		opacity: .5;

		@include box-shadow(0 0 20px rgba(255,255,255,0.8));
		@include border-radius(rem-calc(5));

		&:hover {
			opacity: 1;
			@include transition(opacity 1s);
		}

		.oxo__link {
			display: block;
			overflow: hidden;
		}

		.oxo__image {
			width: 100%;
			height: auto;
		}
	}

	.oxo__content-wrapper {
		display: none;
	}

}
