.oxo__console-chooser {

	.oxo__list-item {
		position: relative;

		height: rem-calc(87);
		margin: rem-calc(43) rem-calc(5);
		background-size: auto rem-calc(160);
		background-position: center;
		border-left: solid rem-calc(7) #3df3f3;
		border-right: solid rem-calc(7) #3df3f3;

		@include box-shadow(0 0 rem-calc(25) rgba(61,243,243,0.9));

		:after {
			content: "";
			position: absolute;
			top:rem-calc(3);
			left: 0;
			width: rem-calc(95);
			height: rem-calc(52);
			z-index: 2;
			background: inherit;
		}

		.hexTop,
		.hexBottom {
			position: absolute;
			z-index: 1;
			width: rem-calc(90);
			height: rem-calc(90);
			overflow: hidden;
			background: inherit;
			left: rem-calc(14);

			@include transform(scaleY(0.5774) rotate(-45deg));
			//@include box-shadow(0 0 25px rgba(61,243,243,0.9));
		}

		/*counter transform the bg image on the caps*/
		.hexTop:after,
		.hexBottom:after {
			content: "";
			position: absolute;
			width: rem-calc(124);
			height: rem-calc(90);

			@include transform(rotate(45deg) scaleY(1.7321) translateY(rem-calc(-40)));
			-webkit-transform-origin: 0 0;
			-ms-transform-origin: 0 0;
			transform-origin: 0 0;
			background: inherit;
		}

		.hexTop {
			top: rem-calc(-48);
			border-top: solid rem-calc(5) #3df3f3;
			border-right: solid rem-calc(5) #3df3f3;

			&:after {
				background-position: center top;
			}
		}

		.hexBottom {
			bottom: rem-calc(-48);
			border-bottom: solid rem-calc(7) #3df3f3;
			border-left: solid rem-calc(7) #3df3f3;

			&:after {
				background-position: center bottom;
			}
		}

		.oxo__link {
			display: block;
			overflow: hidden;
		}

		@include gridle(2);

		.oxo__image {
			width: 100%;
			height: auto;
		}
	}
}