// -----------------------------------------------------------------------------
// All colors
// color definitions after: chir.ag/projects/name-that-color
// -----------------------------------------------------------------------------

$white: #fff;
$black: #000;

$curious-blue: #16a4d6;
$bright-gray: #34364d; // main color
$fiord: #4d5278; // main-highlited color
$emperor: #505050; // font-color

// Links
$ps__link-color: $bright-gray;
$ps__link-color--hover: $fiord;

// Headlines
$ps__headline-color: $bright-gray;

// Background
$ps__background-color: $bright-gray;